@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
body {
	margin: 0;
	font-family: "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	background-color: #aad5e7;
}
* {
	font-weight: 300;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
