html,
body {
	height: 100%;
}
body {
	background-size: cover;
}
button {
	cursor: pointer;
}
[contenteditable] {
	outline: 0 solid transparent;
}
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgb(0, 0, 0, 0.7);
}
.modal-content {
	background-color: #fefefe;
	margin: 5% auto;
	padding: 20px;
	border: #888 solid 1px;
	width: 40%;
}
.close {
	color: #818181;
	float: right;
	font-size: 40px;
	font-weight: bolder;
}
.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
.modal_header {
	font-family: "Roboto Condensed";
	font-size: 20px;
	text-align: center;
}
.input_container {
	margin: 20px 0;
	font-family: "Roboto Condensed";
}
.input_container label {
	font-weight: bold;
}
#compose_post_title {
	width: 50%;
}
.input_container input {
	margin-top: 5px;
	background-color: #f1f1f1;
	padding: 5px 15px;
	width: 100%;
	box-sizing: border-box;
	border: none;
	height: 40px;
}
.input_container textarea {
	margin-top: 5px;
	background-color: #f1f1f1;
	padding: 5px 15px;
	width: 100%;
	font-family: inherit;
	font-size: inherit;
	box-sizing: border-box;
	border: none;
	height: 200px;
}
.sign_in_modal_footer {
	margin-top: 30px;
	font-family: sans-serif;
	font-weight: bold;
	text-align: center;
}
#btn_sign_up_submit,
#btn_sign_in_submit {
	background-color: #5eb762;
	width: 100%;
	color: white;
	box-sizing: border-box;
	font-size: 15px;
	height: 40px;
	cursor: pointer;
	border: none;
}
#btn_create_post_submit {
	background-color: #5eb762;
	width: 15%;
	color: white;
	margin: 0 auto;
	display: block;
	box-sizing: border-box;
	font-size: 15px;
	height: 35px;
	cursor: pointer;
	border: none;
}
#post_container {
	display: flex;
	margin: 10px 50px;
	justify-content: space-between;
	flex-direction: column;
}
#post_heading {
	align-self: center;
	font-family: "Roboto Condensed", sans-serif;
}
#author_edit_post {
	align-items: center;
	display: flex;
	justify-content: space-between;
}
#btn_edit_post {
	background-color: #e33864;
	color: white;
	border: none;
	padding: 10px;
	box-shadow: 0 10px 12px 1px #f0b3c3;
}
.btn_to_left {
	background-color: #e33864;
	color: white;
	border: none;
	margin-top: 10px;
	padding: 10px 20px;
	align-self: flex-start;
	width: auto;
	margin-bottom: 10px;
	border-radius: 3px;
	box-shadow: 0 10px 12px 1px #f0b3c3;
}
#author_name {
	font-family: "Dancing Script", sans-serif;
}
#post_body {
	font-family: "Slabo 27px";
	text-align: justify;
	font-size: large;
	overflow: auto;
	text-justify: inter-word;
}
#like_counter {
	font-family: monospace;
	margin-top: 8px;
	margin-bottom: 30px;
}
#comment_composer {
	align-self: flex-start;
	width: 100%;
	font-family: "Courier New", Courier, monospace;
}
#post_comments {
	list-style-type: none;
	margin-bottom: 10px;
	background-color: silver;
	padding: 30px 20px 20px 20px;
}
.comment {
	background-color: white;
	margin-bottom: 10px;
	padding: 15px 8px;
}
.editing_post_heading {
	border: #f2bfcb solid 2px !important ;
}
.editing_post_body {
	border: blue solid 1px;
	padding: 10px;
}
