html,
body {
	margin: 0;
	margin-bottom: 5px;
	padding: 0;
}
body {
	background-color: orange;
	background-repeat: repeat-x;
	background-size: cover;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
#header_logo_tag {
	color: white;
}
#header {
	margin-bottom: 5px;
}
.blog_container_row {
	display: flex;
	margin-bottom: 15px;
	align-items: center;
	flex-direction: row;
	justify-content: space-evenly;
}
.blog_card {
	display: block;
	margin: 0 50px;
	max-height: 250px;
	overflow: auto;
	box-shadow: -7px 8px 15px -2px #cd8212;
}
table .author_name {
	background-color: white;
	color: black;
	padding: 15px 30px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	font-weight: 600;
	text-align: center;
	max-width: 30px;
}
table {
	border-radius: 10px;
	background-color: #e8e8e8;
}
table .cardcontent {
	padding: 5px 10px;
	font-size: 13px;
	text-align: justify;
	text-justify: inter-word;
}
.cardcontent::-webkit-scrollbar {
	display: none;
}
.cardcontent {
	overflow: auto;
	text-overflow: ellipsis;
}
table i {
	cursor: pointer;
	padding-right: 20px;
	padding-bottom: 8px;
}
.one_content {
	margin: 0 25%;
}
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgb(0, 0, 0, 0.7);
}
.modal-content {
	background-color: #fefefe;
	margin: 5% auto;
	padding: 20px;
	border: #888 solid 1px;
	width: 35%;
}
.close {
	color: #818181;
	float: right;
	font-size: 40px;
	font-weight: bolder;
}
.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
.modal_header {
	font-family: "Roboto Condensed";
	font-size: 20px;
	text-align: center;
}
.input_container {
	margin: 20px 0;
	font-family: "Roboto Condensed";
}
.input_container label {
	font-weight: bold;
}
.input_container input {
	margin-top: 5px;
	background-color: #f1f1f1;
	padding: 5px 15px;
	width: 100%;
	box-sizing: border-box;
	border: none;
	height: 40px;
}
.input_container textarea {
	margin-top: 5px;
	background-color: #f1f1f1;
	padding: 5px 15px;
	width: 100%;
	font-family: inherit;
	font-size: inherit;
	box-sizing: border-box;
	border: none;
	height: 200px;
}
#btn_sign_up_submit,
#btn_sign_in_submit {
	background-color: #5eb762;
	width: 100%;
	color: white;
	box-sizing: border-box;
	font-size: 15px;
	height: 40px;
	cursor: pointer;
	border: none;
}
.sign_in_modal_footer {
	margin-top: 30px;
	font-family: sans-serif;
	font-weight: bold;
	text-align: center;
}
.delete_post_modal {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.delete_post_modal button {
	width: 40%;
	height: 40px;
	cursor: pointer;
	color: white;
	font-size: 15px;
	border: none;
}
#btn_delete_post_yes {
	background-color: #e45449;
}
#btn_delete_post_no {
	background-color: #5eb762;
}
